<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Baali Store</title>
</head>
<body>  
    <section class="home"> 
        <h1>Baali Store</h1>
        <p>Bienvenido a <a href="https://www.baalistore.com.ar/" target="_blank" rel="noopener noreferrer">baali store <3</a></p>
        <img src="img/logo_B.png" alt="logo">
    </section>
    <section class="about">
        <a href="#remeras">Remeras</a>

        <p>Productos<p>
        <ul>
            <li>Pantalones</li>
            <li>Remeras</li>
        </ul>

        <h2 id="remeras">Remeras</h2>    
        <a href="https://www.baalistore.com.ar/remeras/se7en"><img src="img/seven_dorsal.png" alt="remera seven"></a>
        <a href="https://www.baalistore.com.ar/remeras/bad-dog"></a><img src="img/bad_dog_frente.png" alt="remera bad dog"></a>
    </section>
    <footer>
        <form action="/enviar-respuesta">
           <input type="text" placeholder="usuario de instagram" required> <!--hacer que el campo sea obligatorio-->
            <button type="submit">Enviar</button>
        </form>
        <p>Contacto: baalistore.arg@gmail.com</p>
    <footer>
</body>
</html>