<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Baali Store</title>
</head>
<body>  
    <section class="welcome"> <!-- El class como distingo una de la otra-->
        <h1>Baali Store</h1>
        <p>Bienvenido a baali store <3</p>
        <img src="path a la foto" atl="welcome">
    </section>
    <section class="about">
        <p>Productos<p>
        <ul>
            <li>Pantalones</li>
            <li>Remeras</li>
        </ul>    
    <section>
    <footer>
        <p>Contact: baalistore.arg@gmail.com</p>
    <footer>
</body>
</html>