<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">

    <title>Home</title>
</head>
<body>

    <div class="container">
    
        <div class="cuadrante1">
            <div class="item item1--texto">
                ELEGÍ<br>Y<br>LLEVALO
            </div>

            <figure class="imagen imagen--1">
                <img src="../static/img/grid.png" alt="grilla">
            </figure>

        </div>

        <div class="item2--texto">
            CONSEJOS ÚTILES
        </div>

        <div class="cuadrante3">
            <figure class="imagen imagen--2">
                <img src="../static/img/buscar.png" alt="boton-buscar">
            </figure>
            <figure class="imagen imagen--3">
                <img src="../static/img/redes.png" alt="redes">
            </figure>
        </div>

        <div class="cuadrante4">
            <figure class="imagen imagen--4">
                <img src="../static/img/play.svg" alt="boton-play">
            </figure>
        </div>

    </div>

    
    
</body>
</html>