<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Flask exercice</title>
</head>
<body>  
    <section class="contexto">
        <h1>CONTEXTO</h1>
        <img src="img/caja amarilla.PNG" alt="yellow box">
    </section>
    <section class="yellow-section">
        <div class="texto-datos">
            <p>Escribí acá la<br>caracterizacion de tu set de<br>datos></p>
        </div>
        <div class="grafico-datos">
            <img src="img/img_de_grafico.png" alt="tabla">
        </div> 
    </section>    
    <footer>
        <section class="footer">
            <p>AUTOR: MATIAS RODRIGUEZ BRUN</p>
        </section>  
    </footer>
</body>
</html>