<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/plan_2023.css">
    <title>Plan 2023</title>
</head>
<body>
    <section class="purple-section">
        <h1>CONCLUSIONES</h1>
        <img src="img/caja amarilla.PNG" alt="yellow box">
    </section>
    <section class="yellow-section">
        <div class="div-1">
            <p>Escribí el resumen de recomendaciones que podés dar</p>
        </div>
        <div class="lista">
            <ul>
                <li>Recomendacion 1</li>
                <li>Recomendacion 2</li>
                <li>Recomendacion 3</li>
                <li>Etc</li>
            </ul>
        </div>  
    </section>
    <section class="footer">
        <p>AUTOR: MATIAS RODRIGUEZ BRUN</p>
    </section>
</body>
</html>