<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/resultados.css">
    <title>Resultados</title>
</head>
<body>
    <section class="resultados">
        <h1>RESULTADOS</h1>
        <img src="img/caja amarilla.PNG" alt="yellow box">
    </section>
    <section class="yellow-section">
        <div class="div-1">
            <h2>Escribí acá un detalle<br>de las conclusiones que<br>sacaste</h2>
        </div>
        <div class="div-img">
            <img src="img/grafico_2.png" alt="grafico">
        </div>
    </section>
    <section class="footer">
        <p>AUTOR: MATIAS RODRIGUEZ BRUN</p>
    </section>
</body>
</html>